a {
    text-decoration: none;
}

.current {
    border-bottom: green 2px solid !important;

}

.text-primary {
    color: green;
    padding: 0 10px;
    font-weight: 700;
}

.text-secondary {
    color: black;
    padding: 0 10px;
    font-weight: 700;
}


.btn {

    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 18px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: green;
    font-weight: bold;
}




.btn:hover {
    opacity: 0.8;
}

.mg-light {
    background-color: grey;
    color: black;
}

.mg-light p {
    color: white;
}

.mg-dark p {
    color: white;
}

.mg-dark {
    background-color: rgb(60, 60, 233);
    color: black;
}